*{
    margin: 0;
    padding: 0;
}
.header-container{
    background-color: #0c0c0ccb;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    align-content: center;
}
.logo-photo{
    width: 180px;
    margin-right: 300px;
}
.menus{
    display: flex;
    margin-left: 50px;
    align-items: center;
}
.item{
    color: white;
    list-style: none;
    margin-left: 15px;
    font-size: 20px;
}
.banner{
    background-image: url("../images/background.png"),linear-gradient(45deg,#000000,#000000e8);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}
.banner-image{
    width: 250px;
}
.banner-info{
    color: white;
}
.title{
    font-size: 55px;
    font-weight: bold;
}
.description{
    font-size: 18px;
    padding: 20px 0;
}
.btn{
    background-color: rgb(255, 50, 14);
    font-size: 18px;
    border: 0;
    border-radius: 4px;
    padding: 10px;
    color: white;
}
.btn:hover{
    box-shadow: 4px 4px 8px #3d3c3c;
    cursor: pointer;
}
.about-head{
    font-size: 50px;
    text-align: center;
    margin: 10px;
}
.common-hr{
    border-top: 1px solid black;
    width: 80%;
    margin: auto;
}
.about{
    display: flex;
    height: 70vh;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 5px;
}
.about-img{
    width: 200px;
}
.title2{
    font-size: 40px;
    font-weight: bold;
}
.contact-btn{
    font-size: 18px;
    padding: 10px;
}

.services-div{
    height: 90vh;
    background-image: url(../images/background.png),linear-gradient(45deg,#080808ee,#0f0f0fdc);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.services-head{
    padding: 20px;
    color: white;
}
.services{
    height: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.services-card{
    background-color: #000000;
    height: 280px;
    width: 200px;
    text-align: center;
    padding: 20px;
    border-radius: 7px;
    box-shadow: 2px 2px 30px rgba(133, 133, 133, 0.767);
}
.services-icon{
    width: 70px;
}
.services-name{
    color: white;
    font-size: 25px;
}
.services-details{
    color: white;
    font-size: 16px;
    padding: 8px;
}
.details-btn{
    background-color: #292929;
    font-size: 15px;
    color: white;
    border: 0;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
}
.details-btn:hover{
    box-shadow: 1px 1px 8px #929292;
    cursor: pointer;
}
.contact{
    background-color: #000;
    color: white;
    height: 60vh;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact-logo{
    width: 170px;
}
.contact-header{
    font-size: 25px;
    font-weight: 300;
    padding: 15px 0;
    padding-bottom: 30px;
}
.links{
    color: white;
    font-size: 14px;
    text-decoration: none;
    margin: 10px 0;
    padding: 10px 0;
}
.contact-description{
    padding: 0px 0;
}