*{
    margin: 0;
    padding: 0;
}
.header-container{
    background-color: #1F1F1F;
    padding: 10px 10px 0px 0px;
    display: flex;
    justify-content: flex-end;
    align-content: center;
}
.logo-photo{
    width: 100px;
    margin-right: 170px;
}
.menus{
    display: flex;
    margin-left: 20px;
}
.item{
    color: white;
    list-style: none;
    margin-left: 10px;
    font-size: 12px;
}